<div class="panel panel-deafult">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @lecturer.image.url(:medium) %>
        <div class="table-responsive">
          <table class="table">
            <tbody>
	      <tr>
		<td><strong>Firstname:</strong></td>
		<td><%= @lecturer.firstname %></td>
	      </tr>
	      <tr>
		<td><strong>Lastname:</strong></td>
  		<td><%= @lecturer.lastname %></td>
	      </tr>
	      <tr>
		<td><strong>Age:</strong></td>
 		<td><%= @lecturer.age %></td>
	      </tr>
	      <tr>
		<td><strong>Rating:</strong></td>
  		<td><%= @lecturer.rating %></td>
	      </tr>
            <tbody>
          </table>
          <%= link_to "Write a review", new_lecturer_review_path(@lecturer) %>
        </div>
      </div>
    </div>
      <%= link_to 'Edit', edit_lecturer_path(@lecturer) %> |
      <%= link_to 'Back', lecturers_path %>
  </div>
</div>



